<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tss.apiservice.dao.GatewaysPoMapper">
    <resultMap id="BaseResultMap" type="com.tss.apiservice.po.GatewaysPo">
        <id column="number" jdbcType="VARCHAR" property="number"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="protocol" jdbcType="VARCHAR" property="protocol"/>
        <result column="network" jdbcType="VARCHAR" property="network"/>
        <result column="osdid" jdbcType="VARCHAR" property="osdid"/>
        <result column="orgid" jdbcType="VARCHAR" property="orgid"/>
    </resultMap>

    <resultMap id="BaseResultMapType" type="com.tss.apiservice.po.GateWayTypePO">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="typenum" jdbcType="VARCHAR" property="typenum"/>
        <result column="enable" jdbcType="INTEGER" property="enable"/>
    </resultMap>
    <sql id="Base_Column_List">
    number, name, type, protocol, network, osdid, orgid
  </sql>

    <sql id="Base_Column_List_Type">
        id, typenum, enable
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from gateways
        where number = #{number,jdbcType=VARCHAR}
    </select>

    <select id="selectByName" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from gateways
        where name = #{name,jdbcType=VARCHAR}
    </select>

    <select id="selectNumsByPage" parameterType="java.util.Map" resultMap="BaseResultMap">
        select * from gateways where 1 = 1
        <if test="name != null">
            and name like '%${name}%'
        </if>
        and orgid = #{orgid}
        order by number
        <if test="startrow != null and pagesize != null">
            limit #{startrow} , #{pagesize}
        </if>
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from gateways
    where number = #{number,jdbcType=VARCHAR}
  </delete>

    <insert id="insertSelective" parameterType="com.tss.apiservice.po.GatewaysPo">
        insert into gateways
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="number != null">
                number,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="protocol != null">
                protocol,
            </if>
            <if test="network != null">
                network,
            </if>
            <if test="osdid != null">
                osdid,
            </if>
            <if test="orgid != null">
                orgid,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="number != null">
                #{number,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
            <if test="protocol != null">
                #{protocol,jdbcType=VARCHAR},
            </if>
            <if test="network != null">
                #{network,jdbcType=VARCHAR},
            </if>
            <if test="osdid != null">
                #{osdid,jdbcType=VARCHAR},
            </if>
            <if test="orgid != null">
                #{orgid,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.tss.apiservice.po.GatewaysPo">
        update gateways
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=INTEGER},
            </if>
            <if test="protocol != null">
                protocol = #{protocol,jdbcType=VARCHAR},
            </if>
            <if test="network != null">
                network = #{network,jdbcType=VARCHAR},
            </if>
            <if test="osdid != null">
                osdid = #{osdid,jdbcType=VARCHAR},
            </if>
            <if test="orgid != null">
                orgid = #{orgid,jdbcType=VARCHAR},
            </if>
        </set>
        where number = #{number,jdbcType=VARCHAR}
    </update>

    <select id="getAllNameByOrgId" parameterType="java.lang.String" resultType="java.lang.String">
        select
        distinct name
        from gateways
        where orgid = #{orgId,jdbcType=VARCHAR}
        order by name
    </select>

    <select id="getGateWayType" resultMap="BaseResultMapType">
        select
        <include refid="Base_Column_List_Type"/>
        from gatewaystype
        order by id
    </select>
</mapper>