<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tss.apiservice.dao.ObjsconditionPoMapper">
  <resultMap id="BaseResultMap" type="com.tss.apiservice.po.ObjsconditionPo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="permitname" jdbcType="VARCHAR" property="permitname" />
    <result column="permittypeid" jdbcType="INTEGER" property="permittypeid"/>
    <result column="staffid" jdbcType="VARCHAR" property="staffid" />
    <result column="osdid" jdbcType="VARCHAR" property="osdid" />
    <result column="jobnum" jdbcType="VARCHAR" property="jobnum" />
  </resultMap>
  <sql id="Base_Column_List">
    id, permitname, permittypeid, staffid, osdid, jobnum
  </sql>

  <select id="selectByOsdid" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from objscondition
    where osdid = #{osdid,jdbcType=VARCHAR}
  </select>

  <select id="selectByStaffid" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from objscondition
    where staffid = #{staffid,jdbcType=VARCHAR}
  </select>


  <delete id="deleteByOsdid" parameterType="java.lang.String">
    delete from objscondition
    where osdid = #{osdid,jdbcType=VARCHAR}
  </delete>

  <delete id="deleteByStaffid" parameterType="java.lang.String">
    delete from objscondition
    where staffid = #{staffid,jdbcType=VARCHAR}
  </delete>

  <insert id="insertSelective" parameterType="com.tss.apiservice.po.ObjsconditionPo">
    insert into objscondition
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="permitname != null">
        permitname,
      </if>
      <if test="permittypeid != null">
        permittypeid,
      </if>
      <if test="staffid != null">
        staffid,
      </if>
      <if test="osdid != null">
        osdid,
      </if>
      <if test="jobnum != null">
        jobnum,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="permitname != null">
        #{permitname,jdbcType=VARCHAR},
      </if>
      <if test="permittypeid != null">
        #{permittypeid,jdbcType=INTEGER},
      </if>
      <if test="staffid != null">
        #{staffid,jdbcType=VARCHAR},
      </if>
      <if test="osdid != null">
        #{osdid,jdbcType=VARCHAR},
      </if>
      <if test="jobnum != null">
        #{jobnum,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>