<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tss.apiservice.dao.PermitsPoMapper">
    <resultMap id="BaseResultMap" type="com.tss.apiservice.po.PermitsPo">
        <id column="permitid" jdbcType="VARCHAR" property="permitid"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="typeid" jdbcType="INTEGER" property="typeid"/>
        <result column="startdate" jdbcType="TIMESTAMP" property="startdate"/>
        <result column="enddate" jdbcType="TIMESTAMP" property="enddate"/>
        <result column="filepath" jdbcType="VARCHAR" property="filepath"/>
        <result column="filename" jdbcType="VARCHAR" property="filename"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="positionid" jdbcType="INTEGER" property="positionid"/>
        <result column="ropeweight" jdbcType="FLOAT" property="ropeweight"/>
        <result column="orgid" jdbcType="VARCHAR" property="orgid"/>
    </resultMap>
    <resultMap id="BaseResultMapType" type="com.tss.apiservice.po.PermitTypePO">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="abbreviation" jdbcType="VARCHAR" property="abbreviation"/>
        <result column="typename" jdbcType="VARCHAR" property="typename"/>
    </resultMap>
    <sql id="Base_Column_List">
    permitid, name, typeid, startdate, enddate, filepath, filename, type, positionid, ropeweight, orgid
  </sql>

    <sql id="Base_Column_List_type">
    id, abbreviation, typename
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from permits
        where permitid = #{permitid,jdbcType=VARCHAR}
    </select>

    <select id="selectByName" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from permits
        where name = #{name,jdbcType=VARCHAR}
    </select>

    <select id="selectListByMap" parameterType="java.util.Map" resultMap="BaseResultMap">
        select
        p.permitid, p.name, p.typeid, p.startdate, p.enddate, p.filepath, p.filename, p.type, p.positionid, p.ropeweight, p.orgid
        from permits p left join permittype c on p.typeid = c.id
        where 1 = 1
        <if test="name != null">
            and (c.typename like '%${name}%' or p.name like '%${name}%')
        </if>
        <if test="numberBegin != null">
            and p.permitid &gt;= #{numberBegin}
        </if>
        <if test="numberEnd != null">
            and p.permitid &lt;= #{numberEnd}
        </if>
        <if test="expire != null">
            and DATE_FORMAT(p.enddate,'%Y-%m-%d') &lt; DATE_FORMAT(now(),'%Y-%m-%d')
        </if>
        <if test="type != null">
            and p.typeid in
            <foreach collection="type" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
        <if test="expireNumber != null">
            and DATE_FORMAT(p.enddate,'%Y-%m-%d') &lt;= DATE_FORMAT(#{expireNumber},'%Y-%m-%d')
            and DATE_FORMAT(p.enddate,'%Y-%m-%d') &gt;= DATE_FORMAT(now(),'%Y-%m-%d')
        </if>
        and p.orgid = #{orgid}
        order by p.permitid
        <if test="startrow != null and pagesize != null">
            limit #{startrow} , #{pagesize}
        </if>
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from permits
    where permitid = #{permitid,jdbcType=VARCHAR}
  </delete>

    <insert id="insertSelective" parameterType="com.tss.apiservice.po.PermitsPo">
        insert into permits
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="permitid != null">
                permitid,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="typeid != null">
                typeid,
            </if>
            <if test="startdate != null">
                startdate,
            </if>
            <if test="enddate != null">
                enddate,
            </if>
            <if test="filepath != null">
                filepath,
            </if>
            <if test="filename != null">
                filename,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="positionid != null">
                positionid,
            </if>
            <if test="ropeweight != null">
                ropeweight,
            </if>
            <if test="orgid != null">
                orgid,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="permitid != null">
                #{permitid,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="typeid != null">
                #{typeid,jdbcType=VARCHAR},
            </if>
            <if test="startdate != null">
                #{startdate,jdbcType=TIMESTAMP},
            </if>
            <if test="enddate != null">
                #{enddate,jdbcType=TIMESTAMP},
            </if>
            <if test="filepath != null">
                #{filepath,jdbcType=VARCHAR},
            </if>
            <if test="filename != null">
                #{filename,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
            <if test="positionid != null">
                #{positionid,jdbcType=INTEGER},
            </if>
            <if test="ropeweight != null">
                #{ropeweight,jdbcType=FLOAT},
            </if>
            <if test="orgid != null">
                #{orgid,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.tss.apiservice.po.PermitsPo">
        update permits
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="typeid != null">
                typeid = #{typeid,jdbcType=VARCHAR},
            </if>
            <if test="startdate != null">
                startdate = #{startdate,jdbcType=TIMESTAMP},
            </if>
            <if test="enddate != null">
                enddate = #{enddate,jdbcType=TIMESTAMP},
            </if>
            <if test="filepath != null">
                filepath = #{filepath,jdbcType=VARCHAR},
            </if>
            <if test="filename != null">
                filename = #{filename,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=INTEGER},
            </if>
            <if test="positionid != null">
                positionid = #{positionid,jdbcType=VARCHAR},
            </if>
            <if test="ropeweight != null">
                ropeweight = #{ropeweight,jdbcType=FLOAT},
            </if>
            <if test="orgid != null">
                orgid = #{orgid,jdbcType=VARCHAR},
            </if>
        </set>
        where permitid = #{permitid,jdbcType=VARCHAR}
    </update>

    <select id="getPermitType" resultMap="BaseResultMapType">
        select
        <include refid="Base_Column_List_type"/>
        from permittype
        order by abbreviation
    </select>

    <select id="getAllNumByOrgId" parameterType="java.lang.String" resultType="java.lang.Integer">
        select
        permitid
        from permits
        where orgid = #{orgid,jdbcType=VARCHAR}
        order by permitid
    </select>
</mapper>