<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tss.apiservice.dao.SafeobjsPoMapper">
    <resultMap id="BaseResultMap" type="com.tss.apiservice.po.SafeobjsPo">
        <id column="objnum" jdbcType="VARCHAR" property="objnum"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="isleave" jdbcType="INTEGER" property="isleave"/>
        <result column="leavetime" jdbcType="TIMESTAMP" property="leavetime"/>
        <result column="osdid" jdbcType="VARCHAR" property="osdid"/>
        <result column="jobnum" jdbcType="VARCHAR" property="jobnum"/>
        <result column="objname" jdbcType="VARCHAR" property="objname"/>
    </resultMap>
    <sql id="Base_Column_List">
    objnum, type, isleave, leavetime, osdid, jobnum ,objname
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from safeobjs
        where objnum = #{objnum,jdbcType=VARCHAR}
        <if test="objtype != null">
            and type = #{objtype}
        </if>
    </select>

    <select id="selectByOsdid" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from safeobjs
        where osdid = #{osdid,jdbcType=VARCHAR}
    </select>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from safeobjs
    where objnum = #{objnum,jdbcType=VARCHAR}
  </delete>

    <delete id="deleteByOsdid" parameterType="java.lang.String">
    delete from safeobjs
    where osdid = #{osdid,jdbcType=VARCHAR}
  </delete>

    <insert id="insertSelective" parameterType="com.tss.apiservice.po.SafeobjsPo">
        insert into safeobjs
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="objnum != null">
                objnum,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="isleave != null">
                isleave,
            </if>
            <if test="leavetime != null">
                leavetime,
            </if>
            <if test="osdid != null">
                osdid,
            </if>
            <if test="jobnum != null">
                jobnum,
            </if>
            <if test="objname != null">
                objname,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="objnum != null">
                #{objnum,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
            <if test="isleave != null">
                #{isleave,jdbcType=INTEGER},
            </if>
            <if test="leavetime != null">
                #{leavetime,jdbcType=TIMESTAMP},
            </if>
            <if test="osdid != null">
                #{osdid,jdbcType=VARCHAR},
            </if>
            <if test="jobnum != null">
                #{jobnum,jdbcType=VARCHAR},
            </if>
            <if test="objname != null">
                #{objname,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.tss.apiservice.po.SafeobjsPo">
        update safeobjs
        <set>
            <if test="type != null">
                type = #{type,jdbcType=INTEGER},
            </if>
            <if test="isleave != null">
                isleave = #{isleave,jdbcType=INTEGER},
            </if>
            <if test="leavetime != null">
                leavetime = #{leavetime,jdbcType=TIMESTAMP},
            </if>
            <if test="osdid != null">
                osdid = #{osdid,jdbcType=VARCHAR},
            </if>
            <if test="jobnum != null">
                jobnum = #{jobnum,jdbcType=VARCHAR},
            </if>
            <if test="objname != null">
                objname = #{objname,jdbcType=VARCHAR},
            </if>
        </set>
        where objnum = #{objnum,jdbcType=VARCHAR}
    </update>
</mapper>