<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tss.apiservice.dao.StaffsPoMapper">
    <resultMap id="BaseResultMap" type="com.tss.apiservice.po.StaffsPo">
        <id column="staffid" jdbcType="VARCHAR" property="staffid"/>
        <result column="chname" jdbcType="VARCHAR" property="chname"/>
        <result column="enname" jdbcType="VARCHAR" property="enname"/>
        <result column="ensurname" jdbcType="VARCHAR" property="ensurname"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="orgid" jdbcType="VARCHAR" property="orgid"/>
        <result column="treatment" jdbcType="INTEGER" property="treatment"/>
        <result column="altersalary" jdbcType="INTEGER" property="altersalary"/>
        <result column="effdate" jdbcType="TIME" property="effdate"/>
    </resultMap>

    <resultMap id="BaseResultMap_Image" type="com.tss.apiservice.po.StaffsImagePO">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="imageindex" jdbcType="INTEGER" property="imageIndex"/>
        <result column="imagedir" jdbcType="VARCHAR" property="imageDir"/>
        <result column="imagename" jdbcType="VARCHAR" property="imageName"/>
        <result column="imagetype" jdbcType="VARCHAR" property="imageType"/>
        <result column="staffid" jdbcType="VARCHAR" property="staffId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
    </resultMap>

    <resultMap id="BaseResultMapType" type="com.tss.apiservice.po.CertTypePO">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="abbreviation" jdbcType="VARCHAR" property="abbreviation"/>
        <result column="typename" jdbcType="VARCHAR" property="typename"/>
    </resultMap>

    <sql id="Base_Column_List">
    staffid, chname, enname, ensurname, type, orgid, treatment, altersalary, effdate
  </sql>

    <sql id="Base_Column_List_type">
    id, abbreviation, typename
  </sql>

    <sql id="Base_Column_List_Image">
    id, imageindex, imagedir, imagename, imagetype, staffid, name
  </sql>

    <select id="getCerType" resultMap="BaseResultMapType">
        select
        <include refid="Base_Column_List_type"/>
        from certtype
        order by abbreviation
    </select>

    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from staffs
        where staffid = #{staffid,jdbcType=VARCHAR}
    </select>

    <select id="selectListByOrgid" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from staffs
        where orgid = #{orgid,jdbcType=VARCHAR}
        order by staffid
    </select>

    <select id="getAllNumByOrgId" parameterType="java.lang.String" resultType="java.lang.String">
        select
        staffid
        from staffs
        where orgid = #{orgid,jdbcType=VARCHAR}
        order by staffid
    </select>

    <select id="selectCpListByPositionTypeId" parameterType="java.lang.String" resultType="java.lang.String">
        select
        certtypeid
        from positioncondition
        where positiontypeid in(select positionid from permits where permitid = #{positionTypeId,jdbcType=VARCHAR})
    </select>

    <select id="selectListByMap" parameterType="java.util.Map" resultMap="BaseResultMap">
        <if test="expire == null and expireNumber == null">
            select
            <include refid="Base_Column_List"/>
            from staffs
            where 1 = 1
            <if test="chname != null">
                and chname like '%${chname}%'
            </if>
            <if test="enname != null">
                and enname like '%${enname}%'
            </if>
            <if test="numberBegin != null">
                and staffid &gt;= #{numberBegin}
            </if>
            <if test="numberEnd != null">
                and staffid &lt;= #{numberEnd}
            </if>
            and orgid = #{orgid}
            order by staffid
        </if>
        <if test="expire != null">
            select
            a.*
            from staffs a inner join staffscert s on a.staffid = s.staffid and
            DATE_FORMAT(s.validity,'%Y-%m-%d') &lt; DATE_FORMAT(now(),'%Y-%m-%d')
            where 1 = 1
            <if test="chname != null">
                and a.chname like '%${chname}%'
            </if>
            <if test="enname != null">
                and a.enname like '%${enname}%'
            </if>
            <if test="numberBegin != null">
                and a.staffid &gt;= #{numberBegin}
            </if>
            <if test="numberEnd != null">
                and a.staffid &lt;= #{numberEnd}
            </if>
            and a.orgid = #{orgid}
            order by a.staffid
        </if>
        <if test="expireNumber != null">
            select
            a.*
            from staffs a inner join staffscert s on a.staffid = s.staffid and
            DATE_FORMAT(s.validity,'%Y-%m-%d') &lt;= DATE_FORMAT(#{expireNumber},'%Y-%m-%d') and
            DATE_FORMAT(s.validity,'%Y-%m-%d') &gt;= DATE_FORMAT(now(),'%Y-%m-%d')
            where 1 = 1
            <if test="chname != null">
                and a.chname like '%${chname}%'
            </if>
            <if test="enname != null">
                and a.enname like '%${enname}%'
            </if>
            <if test="numberBegin != null">
                and a.staffid &gt;= #{numberBegin}
            </if>
            <if test="numberEnd != null">
                and a.staffid &lt;= #{numberEnd}
            </if>
            and a.orgid = #{orgid}
            order by a.staffid
        </if>
        <if test="startrow != null and pagesize != null">
            limit #{startrow} , #{pagesize}
        </if>
    </select>

    <select id="selectListByMap02" parameterType="java.util.Map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from staffs
        where 1 = 1
        <if test="staffid != null">
            and staffid like '%${staffid}%'
        </if>
        <if test="staffsName != null">
            and enname like '%${staffsName}%'
        </if>
        <if test="orgid != null">
            and orgid = #{orgid}
        </if>
        union
        select
        <include refid="Base_Column_List"/>
        from staffs
        where 1 = 1
        <if test="staffid != null">
            and staffid = #{staffid}
        </if>
        <if test="staffsName != null">
            and chname like '%${staffsName}%'
        </if>
        <if test="orgid != null">
            and orgid = #{orgid}
        </if>

    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from staffs
    where staffid = #{staffid,jdbcType=VARCHAR}
  </delete>

    <insert id="insertSelective" parameterType="com.tss.apiservice.po.StaffsPo">
        insert into staffs
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="staffid != null">
                staffid,
            </if>
            <if test="chname != null">
                chname,
            </if>
            <if test="enname != null">
                enname,
            </if>
            <if test="ensurname != null">
                ensurname,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="orgid != null">
                orgid,
            </if>
            <if test="treatment != null">
                treatment,
            </if>
            <if test="altersalary != null">
                altersalary,
            </if>
            <if test="effdate != null">
                effdate,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="staffid != null">
                #{staffid,jdbcType=VARCHAR},
            </if>
            <if test="chname != null">
                #{chname,jdbcType=VARCHAR},
            </if>
            <if test="enname != null">
                #{enname,jdbcType=VARCHAR},
            </if>
            <if test="ensurname != null">
                #{ensurname,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
            <if test="orgid != null">
                #{orgid,jdbcType=VARCHAR},
            </if>
            <if test="treatment != null">
                #{treatment,jdbcType=INTEGER},
            </if>
            <if test="altersalary != null">
                #{altersalary,jdbcType=INTEGER},
            </if>
            <if test="effdate != null">
                #{effdate,jdbcType=TIME},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.tss.apiservice.po.StaffsPo">
        update staffs
        <set>
            <if test="chname != null">
                chname = #{chname,jdbcType=VARCHAR},
            </if>
            <if test="enname != null">
                enname = #{enname,jdbcType=VARCHAR},
            </if>
            <if test="ensurname != null">
                ensurname = #{ensurname,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=INTEGER},
            </if>
            <if test="orgid != null">
                orgid = #{orgid,jdbcType=VARCHAR},
            </if>
            <if test="treatment != null">
                treatment = #{treatment,jdbcType=INTEGER},
            </if>
            <if test="altersalary != null">
                altersalary = #{altersalary,jdbcType=INTEGER},
            </if>
            <if test="effdate != null">
                effdate = #{effdate,jdbcType=TIME},
            </if>
        </set>
        where staffid = #{staffid,jdbcType=VARCHAR}
    </update>

    <insert id="insertStaffsImage" parameterType="com.tss.apiservice.po.StaffsImagePO">
        insert into staffsimage
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="imageIndex != null">
                imageindex,
            </if>
            <if test="imageDir != null">
                imagedir,
            </if>
            <if test="imageName != null">
                imagename,
            </if>
            <if test="imageType != null">
                imagetype,
            </if>
            <if test="staffId != null">
                staffid,
            </if>
            <if test="name != null">
                name,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="imageIndex != null">
                #{imageIndex,jdbcType=INTEGER},
            </if>
            <if test="imageDir != null">
                #{imageDir,jdbcType=VARCHAR},
            </if>
            <if test="imageName != null">
                #{imageName,jdbcType=VARCHAR},
            </if>
            <if test="imageType != null">
                #{imageType,jdbcType=VARCHAR},
            </if>
            <if test="staffId != null">
                #{staffId,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <select id="selectStaffsImageByStaffId" parameterType="java.lang.String" resultMap="BaseResultMap_Image">
        select
        <include refid="Base_Column_List_Image"/>
        from staffsimage
        where staffid = #{staffId,jdbcType=VARCHAR}
    </select>

    <delete id="deleteStaffsImageByStaffId" parameterType="java.util.Map">
        delete from staffsimage where staffid = #{staffId,jdbcType=VARCHAR}
        <if test="ids != null and ids.size > 0">
            and id not in
            <foreach collection="ids" item="id" open="(" separator="," close=")">
                #{id,jdbcType=INTEGER}
            </foreach>
        </if>
    </delete>

    <update id="updateStaffsImage"  parameterType="com.tss.apiservice.po.StaffsImagePO">
        update staffsimage
        <set>
            <if test="imageIndex != null">
                imageindex = #{imageIndex,jdbcType=INTEGER},
            </if>
            <if test="imageDir != null">
                imagedir = #{imageDir,jdbcType=VARCHAR},
            </if>
            <if test="imageName != null">
                imagename = #{imageName,jdbcType=VARCHAR},
            </if>
            <if test="imageType != null">
                imagetype = #{imageType,jdbcType=VARCHAR},
            </if>
            <if test="staffId != null">
                staffid = #{staffId,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="getAllEnNameByOrgId" parameterType="java.lang.String" resultType="java.lang.String">
        select
        enname
        from staffs
        where orgid = #{orgId,jdbcType=VARCHAR}
        order by enname
    </select>

    <select id="getAllChNameByOrgId" parameterType="java.lang.String" resultType="java.lang.String">
        select
        chname
        from staffs
        where orgid = #{orgId,jdbcType=VARCHAR}
        order by chname
    </select>
</mapper>