<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tss.apiservice.dao.ToolsPoMapper">
    <resultMap id="BaseResultMap" type="com.tss.apiservice.po.ToolsPo">
        <id column="toolid" jdbcType="VARCHAR" property="toolid"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="typeid" jdbcType="INTEGER" property="typeid"/>
        <result column="imagepath" jdbcType="VARCHAR" property="imagepath"/>
        <result column="imagename" jdbcType="VARCHAR" property="imagename"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="orgid" jdbcType="VARCHAR" property="orgid"/>
        <result column="validity" jdbcType="TIMESTAMP" property="validity"/>
    </resultMap>

    <resultMap id="BaseResultMapType" type="com.tss.apiservice.po.ToolType">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="typenum" jdbcType="VARCHAR" property="typenum"/>
        <result column="typename" jdbcType="VARCHAR" property="typename"/>
        <result column="spec" jdbcType="VARCHAR" property="spec"/>
        <result column="weight" jdbcType="FLOAT" property="weight"/>
    </resultMap>
    <sql id="Base_Column_List">
    toolid, name, typeid, imagepath, imagename, type, orgid, validity
  </sql>

    <sql id="Base_Column_List_type">
    id, type, typenum, typename, spec, weight
  </sql>

    <select id="getToolType" resultMap="BaseResultMapType">
        select
        <include refid="Base_Column_List_type"/>
        from tooltype
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
<!--        c.typename as name,-->
        t.toolid, t.name, t.typeid, t.imagepath, t.imagename, t.type, t.orgid, t.validity
        from tools t left join tooltype c on t.typeid = c.id
        where t.toolid = #{toolid,jdbcType=VARCHAR}
    </select>

    <select id="selectListByMap" parameterType="java.util.Map" resultMap="BaseResultMap">
        select
        <!--        c.typename as name,-->
        t.toolid, t.name, t.typeid, t.imagepath, t.imagename, t.type, t.orgid, t.validity
        from tools t left join tooltype c on t.typeid = c.id
        where 1 = 1
        <if test="name != null">
            and c.typename like '%${name}%'
        </if>
        <if test="numberBegin != null">
            and t.toolid &gt;= #{numberBegin}
        </if>
        <if test="numberEnd != null">
            and t.toolid &lt;= #{numberEnd}
        </if>
        <if test="expire != null">
            and DATE_FORMAT(t.validity,'%Y-%m-%d') &lt; DATE_FORMAT(now(),'%Y-%m-%d')
        </if>
        <if test="expireNumber != null">
            and DATE_FORMAT(t.validity,'%Y-%m-%d') &lt;= DATE_FORMAT(#{expireNumber},'%Y-%m-%d')
            and DATE_FORMAT(t.validity,'%Y-%m-%d') &gt;= DATE_FORMAT(now(),'%Y-%m-%d')
        </if>
        and t.orgid = #{orgid}
        order by t.toolid
        <if test="startrow != null and pagesize != null">
            limit #{startrow} , #{pagesize}
        </if>
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tools
    where toolid = #{toolid,jdbcType=VARCHAR}
  </delete>

    <insert id="insertSelective" parameterType="com.tss.apiservice.po.ToolsPo">
        insert into tools
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="toolid != null">
                toolid,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="typeid != null">
                typeid,
            </if>
            <if test="imagepath != null">
                imagepath,
            </if>
            <if test="imagename != null">
                imagename,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="orgid != null">
                orgid,
            </if>
            <if test="validity != null">
                validity,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="toolid != null">
                #{toolid,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="typeid != null">
                #{typeid,jdbcType=INTEGER},
            </if>
            <if test="imagepath != null">
                #{imagepath,jdbcType=VARCHAR},
            </if>
            <if test="imagename != null">
                #{imagename,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
            <if test="orgid != null">
                #{orgid,jdbcType=VARCHAR},
            </if>
            <if test="validity != null">
                #{validity,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.tss.apiservice.po.ToolsPo">
        update tools
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="typeid != null">
                typeid = #{typeid,jdbcType=INTEGER},
            </if>
            <if test="imagepath != null">
                imagepath = #{imagepath,jdbcType=VARCHAR},
            </if>
            <if test="imagename != null">
                imagename = #{imagename,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=INTEGER},
            </if>
            <if test="orgid != null">
                orgid = #{orgid,jdbcType=VARCHAR},
            </if>
            <if test="validity != null">
                validity = #{validity,jdbcType=TIMESTAMP},
            </if>
        </set>
        where toolid = #{toolid,jdbcType=VARCHAR}
    </update>

</mapper>